### Dataset: AI Job Market Dataset

##### Imports

In [3]:
import pandas as pd

__Load the dataset__

In [ ]:
# Load the dataset
data = pd.read_csv('ai_job_dataset.csv')

print("Dataset loaded successfully\n")
print(f"Shape of the dataset: {data.shape}")

Dataset loaded successfully

Shape of the dataset: (15000, 19)

__Exploring the data__

In [11]:
# Display the first 5 rows
print("\n--- First 5 rows of the dataset ---")
display(data.head())

--- First 5 rows of the dataset ---

,job_id,job_title,salary_usd,salary_currency,experience_level,employment_type,company_location,company_size,employee_residence,remote_ratio,required_skills,education_required,years_experience,industry,posting_date,application_deadline,job_description_length,benefits_score,company_name
0,AI00001,AI Research Scientist,90376,USD,SE,CT,China,M,China,50,"Tableau, PyTorch, Kubernetes, Linux, NLP",Bachelor,9,Automotive,2024-10-18,2024-11-07,1076,5.9,Smart Analytics
1,AI00002,AI Software Engineer,61895,USD,EN,CT,Canada,M,Ireland,100,"Deep Learning, AWS, Mathematics, Python, Docker",Master,1,Media,2024-11-20,2025-01-11,1268,5.2,TechCorp Inc
2,AI00003,AI Specialist,152626,USD,MI,FL,Switzerland,L,South Korea,0,"Kubernetes, Deep Learning, Java, Hadoop, NLP",Associate,2,Education,2025-03-18,2025-04-07,1974,9.4,Autonomous Tech
3,AI00004,NLP Engineer,80215,USD,SE,FL,India,M,India,50,"Scala, SQL, Linux, Python",PhD,7,Consulting,2024-12-23,2025-02-24,1345,8.6,Future Systems
4,AI00005,AI Consultant,54624,EUR,EN,PT,France,S,Singapore,100,"MLOps, Java, Tableau, Python",Master,0,Media,2025-04-15,2025-06-23,1989,6.6,Advanced Robotics

In [15]:
# Check data types and structure
print("\n--- Dataset Information ---\n")
data.info()

--- Dataset Information ---

<class 'pandas.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   job_id                  15000 non-null  str
 1   job_title               15000 non-null  str
 2   salary_usd              15000 non-null  int64
 3   salary_currency         15000 non-null  str
 4   experience_level        15000 non-null  str
 5   employment_type         15000 non-null  str
 6   company_location        15000 non-null  str
 7   company_size            15000 non-null  str
 8   employee_residence      15000 non-null  str
 9   remote_ratio            15000 non-null  int64
 10  required_skills         15000 non-null  str
 11  education_required      15000 non-null  str
 12  years_experience        15000 non-null  int64
 13  industry                15000 non-null  str
 14  posting_date            15000 non-null  str
 15  application_deadline    15000 non-null  str
 16  job_description_length  15000 non-null  int64
 17  benefits_score          15000 non-null  float64
 18  company_name            15000 non-null  str
dtypes: float64(1), int64(4), str(14)
memory usage: 2.2 MB

In [17]:
# Display summary statistics for numerical columns

print("\n--- Summary Statistics (Numerical Columns ---)\n")
display(data.describe())

--- Summary Statistics (Numerical Columns ---)

,salary_usd,remote_ratio,years_experience,job_description_length,benefits_score
count,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000
mean,115348.965133,49.483333,6.253200,1503.314733,7.504273
std,60260.940438,40.812712,5.545768,576.127083,1.450870
min,32519.000000,0.000000,0.000000,500.000000,5.000000
25%,70179.750000,0.000000,2.000000,1003.750000,6.200000
50%,99705.000000,50.000000,5.000000,1512.000000,7.500000
75%,146408.500000,100.000000,10.000000,2000.000000,8.800000
max,399095.000000,100.000000,19.000000,2499.000000,10.000000

__Basic Statistical Analysis__

In [ ]:
# Selecting numerical columns only

numerical_data = data.select_dtypes(include='number')

# Stats (mean, median, and standard deviation)

stats = numerical_data.agg(['mean', 'median', 'std'])
print("\n--- Mean, Median and Standard Deviation---\n")
display(stats)

--- Mean, Median, and Standard Deviation ---

,salary_usd,remote_ratio,years_experience,job_description_length,benefits_score
mean,115348.965133,49.483333,6.253200,1503.314733,7.504273
median,99705.000000,50.000000,5.000000,1512.000000,7.500000
std,60260.940438,40.812712,5.545768,576.127083,1.450870

In [23]:
# Mode of numerical features

mode = numerical_data.mode().iloc[0]
print("\n--- Mode of Numerical Features ---\n")
print(mode)

--- Mode of Numerical Features ---

salary_usd                51000.0
remote_ratio                  0.0
years_experience              0.0
job_description_length     1519.0
benefits_score                9.9
Name: 0, dtype: float64

__Correlation Analysis__

In [24]:
# Correlation matrix for numerical features

correlation_matrix = numerical_data.corr()
print("\n--- Correlation Matrix ---\n")
display(correlation_matrix)

--- Correlation Matrix ---

,salary_usd,remote_ratio,years_experience,job_description_length,benefits_score
salary_usd,1.000000,0.013727,0.737556,-0.009092,0.000985
remote_ratio,0.013727,1.000000,0.015321,0.004475,0.003139
years_experience,0.737556,0.015321,1.000000,-0.007526,-0.007275
job_description_length,-0.009092,0.004475,-0.007526,1.000000,0.006744
benefits_score,0.000985,0.003139,-0.007275,0.006744,1.000000